.filter-menu {
  display: flex;
  .button {
    padding: 6px 22px;
    color: $title-text-color;
    background-color: #f5f4fa;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;
    border-style: hidden;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: $title-text-white;
      background-color: $accent-color;
    }
  }
}
@media screen and (max-width: 767px) {
  .filter-menu {
    flex-wrap: wrap;
    margin-bottom: 40px;
    .item {
      margin-right: 8px;
    }
    .item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 15px;
    }
  }
}
@media screen and (min-width: 768px) {
  .filter-menu {
    margin-bottom: 30px;
    justify-content: center;
    .item:not(:last-child) {
      margin-right: 8px;
    }
  }
}
